.dark-red {
    background-color: rgb(102, 16, 16);
}

.off-white {
    background-color: rgb(227, 219, 219);
}



#navBar {
    margin: 0;
    padding: 0;
    background-color: rgb(37, 39, 36);
    font-size: 20px;
    color:  rgb(227, 219, 219);
  }

li {
    display: inline;
    list-style-type: none;
    font-size: 20px;
    
}

a:link { text-decoration: none; color:  rgb(227, 219, 219);;}

a:visited { text-decoration: none; color:  rgb(227, 219, 219);;}

a:hover { text-decoration: none; color:  rgb(227, 219, 219);;}

a:active { text-decoration: none; color:  rgb(227, 219, 219);;}

#splash {
    height: 875px;
    background: rgba(0, 0, 0, .50) url(./img/hiking_path.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#main_content {
    background-color:  rgb(102, 16, 16);
    height: 600px;
}

#splash_title {
    font-size: 120px;
    color:rgb(227, 219, 219);
}

#splash_text {
    font-size: 50px;
    color:rgb(	227, 219, 219);
    font-style: italic;
}

#pleaseWork {
    height: 300px;
}

/* font-family: 'Cabin', sans-serif;
font-family: 'Labrada', serif; */